<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fancy Header & Date Picker</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="ui-overlay">
  <div class="date-picker-container">
    <label for="year">Select a year between 1929 and 1989: </label>
    <input type="number" min="1929" max="1989" [value]="pickedYear" id="year" name="year" #yearInput>

    <div class="btn-container">
      <button class="btn" (click)="updateYear(yearInput)"> Apply </button>
    </div>
    <label>
      <input
        type="checkbox"
        [(ngModel)]="showOnlyFuzzyExhibitions"
        (ngModelChange)="onFuzzyToggle($event)"
      />
      fuzzy only
    </label>
    <div class="aggregation-picker">
      <label for="aggregation"></label>
      <select
        id="aggregation"
        [(ngModel)]="aggregationMode"
        (ngModelChange)="onAggregationChange($event)"
      >
        <option value="fullDetail">Partial aggregation</option>
        <option value="aggregateDisjoint">Full aggregation</option>
      </select>
    </div>
  </div>
</div>

<app-d3-visualization
  [pickedYear]="pickedYear"
  [showOnlyFuzzyExhibitions]="showOnlyFuzzyExhibitions"
  [aggregationMode]="aggregationMode">
</app-d3-visualization>
</body>
</html>
